.qr-input {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-sm);
}

.qr-input h1 {
  font-size: 1.5rem;
}

.qr-input textarea {
  height: 8rem;
  background-color: var(--color-100);
  color: var(--color-400);
  border: none;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--spacing-sm);
  resize: none;
}
