.main {
  width: 60%;
  display: grid;
  align-items: center;
  grid-template-columns: 5fr 4fr;
}

.qr-container {
  color: var(--color-100);
  padding: var(--spacing-md);
  padding-right: 48px;
  background-color: var(--color-400);
  border: var(--spacing-sm) solid var(--color-200);
  border-right: none;
  border-top-left-radius: var(--spacing-md);
  border-bottom-left-radius: var(--spacing-md);
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-md);
}

.qr-show {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -19px;
}
