.main {
  width: 60%;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 2fr;
}

.qr-container {
  color: var(--color-100);
  padding: var(--spacing-lg);
  /* padding-right: var(--spacing-xl); */
  background-color: var(--color-400);
  border: var(--spacing-sm) solid var(--color-200);
  border-right: none;
  border-top-left-radius: var(--spacing-md);
  border-bottom-left-radius: var(--spacing-md);
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-md);
}

.qr-container textarea {
  height: 8rem;
  background-color: var(--color-100);
  color: var(--color-400);
  border: none;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--spacing-sm);
  resize: none;
}
